#student{
	/*CSS For Student Login Button*/
	position: absolute;
	width: 697px;
	height: 170px;
	left: 611px;
	top: 225px;
	background: #C4C4C4;
}
#worker{
	/*CSS For Worker Login Button*/
	position: absolute;
	width: 697px;
	height: 170px;
	left: 611px;
	top: 502px;
	background: #C4C4C4;
}
#superMan{
	/*CSS For Supervisor/Manager Login Button*/
	position: absolute;
	width: 697px;
	height: 170px;
	left: 611px;
	top: 779px;
	background: #C4C4C4;
}
#idNumber{
	/*CSS For Area to input ID for Student/Worker*/
	position: absolute;
	width: 539px;
	height: 141px;
	left: 690px;
	top: 529px;
	background: #FFFFFF;
}
#workerSan{
	/*CSS For Worker Sanitation Button*/
	position: absolute;
	width: 676px;
	height: 152px;
	left: 622px;
	top: 282px;
	background: #C4C4C4;
}
#workerDamaged{
	/*CSS For Label Item As Damaged Button*/
	position: absolute;
	width: 676px;
	height: 152px;
	left: 622px;
	top: 676px;
	background: #C4C4C4;
}
.sanDamagedList{
	/*CSS For Lists of Sanitized/Damaged Items*/
	position: absolute;
	width: 1840px;
	height: 809px;
	left: 38px;
	top: 222px;
	background: #C4C4C4;
}
.yesBox{
	/*CSS For All Yes Buttons*/
	position: absolute;
	width: 388px;
	height: 145px;
	left: 393px;
	top: 500px;
	background: #C4C4C4;
}
.noBox{
	/*CSS For All No Buttons*/
	position: absolute;
	width: 388px;
	height: 145px;
	left: 1181px;
	top: 500px;
	background: #C4C4C4;
}
.pingpong{
	/*CSS For All Buttons involving Ping Pong*/
	position: absolute;
	width: 575px;
	height: 127px;
	left: 59px;
	top: 255px;
	background: #C4C4C4;
}
.pool{
	/*CSS For All Buttons involving Pool*/
	position: absolute;
	width: 575px;
	height: 127px;
	left: 671px;
	top: 255px;
	background: #C4C4C4;
}
.foosball{
	/*CSS For All Buttons involving Foosball*/
	position: absolute;
	width: 575px;
	height: 127px;
	left: 1283px;
	top: 255px;
	background: #C4C4C4;
}
.xbox{
	/*CSS For All Buttons involving Xbox*/
	position: absolute;
	width: 575px;
	height: 127px;
	left: 59px;
	top: 580px;
	background: #C4C4C4;
}
.pc{
	/*CSS For All Buttons involving PC*/
	position: absolute;
	width: 575px;
	height: 127px;
	left: 673px;
	top: 580px;
	background: #C4C4C4;
}
.hangingout{
	/*CSS For All Buttons involving People Not Checking Items Out*/
	position: absolute;
	width: 575px;
	height: 127px;
	left: 1283px;
	top: 580px;
	background: #C4C4C4;
}
#checkin{
	/*CSS For Check In button*/
	position: absolute;
	width: 1483px;
	height: 128px;
	left: 219px;
	top: 906px;
	background: #C4C4C4;
}
#r1{
	/*CSS for Xbox R1 Button*/
	position: absolute;
	width: 451px;
	height: 165px;
	left: 119px;
	top: 162px;
	background: #C4C4C4;
}
#r2{
	/*CSS For Xbox R2 button*/
	position: absolute;
	width: 451px;
	height: 165px;
	left: 119px;
	top: 398px;
	background: #C4C4C4;
}
#r3{
	/*CSS For Xbox R3 button*/
	position: absolute;
	width: 451px;
	height: 165px;
	left: 117px;
	top: 634px;
	background: #C4C4C4;
}
#r4{
	/*CSS For Xbox R4 button*/
	position: absolute;
	width: 451px;
	height: 165px;
	left: 117px;
	top: 871px;
	background: #C4C4C4;
}
#b1{
	/*CSS For Xbox B1 button*/
	position: absolute;
	width: 451px;
	height: 165px;
	left: 1349px;
	top: 162px;
	background: #C4C4C4;
}
#b2{
	/*CSS For Xbox B2 button*/
	position: absolute;
	width: 451px;
	height: 165px;
	left: 1349px;
	top: 398px;
	background: #C4C4C4;
}
#b3{
	/*CSS For Xbox B3 button*/
	position: absolute;
	width: 451px;
	height: 165px;
	left: 1349px;
	top: 634px;
	background: #C4C4C4;
}
#b4{
	/*CSS For Xbox B4 button*/
	position: absolute;
	width: 451px;
	height: 165px;
	left: 1349px;
	top: 871px;
	background: #C4C4C4;
}
#studentSan{
	/*CSS For Sanitize button for students*/
	position: absolute;
	width: 550px;
	height: 133px;
	left: 129px;
	top: 519px;
	background: #C4C4C4;
}
#studentDamaged{
	/*CSS For Damaged button in Student*/
	position: absolute;
	width: 550px;
	height: 133px;
	left: 1142px;
	top: 519px;
	background: #C4C4C4;
}
#superManRep{
	/*CSS For Reports button in Supervisor/Manager*/
	position: absolute;
	width: 563px;
	height: 157px;
	left: 678px;
	top: 175px;
	background: #C4C4C4;
}
#superManDamaged{
	/*CSS For View Damaged Items in Supervisor/Manager*/
	position: absolute;
	width: 563px;
	height: 157px;
	left: 678px;
	top: 410px;
	background: #C4C4C4;
}
#addRemove{
	/*CSS For Add/Remove button in Supervisor/Manager*/
	position: absolute;
	width: 563px;
	height: 157px;
	left: 678px;
	top: 645px;
	background: #C4C4C4;
}
#superManClearData{
	/*CSS For Clearing Data button in Supervisor/Manager*/
	position: absolute;
	width: 563px;
	height: 157px;
	left: 678px;
	top: 873px;
	background: #C4C4C4;
}
#allReport{
	/*CSS for printing all reports button in Supervisor/Manager*/
	position: absolute;
	width: 725px;
	height: 127px;
	left: 597px;
	top: 376px;
	background: #C4C4C4;
}
#specificReport{
	/*CSS For printing specific reports in Supervisor/Manager*/
	position: absolute;
	width: 725px;
	height: 127px;
	left: 597px;
	top: 657px;
	background: #C4C4C4;
}
#addWorker{
	/*CSS for Add Worker button in Add/Remove*/
	position: absolute;
	width: 689px;
	height: 151px;
	left: 91px;
	top: 230px;
	background: #C4C4C4;
}
#removeWorker{
	/*CSS For Remove Worker in Add/Remove*/
	position: absolute;
	width: 689px;
	height: 151px;
	left: 91px;
	top: 734px;
	background: #C4C4C4;
}
#addEquip{
	/*CSS For Add Equipment in Add/Remove*/
	position: absolute;
	width: 689px;
	height: 151px;
	left: 1161px;
	top: 230px;
	background: #C4C4C4;
}
#removeEquip{
	/*CSS For Removing Equipment in Add/Remove*/
	position: absolute;
	width: 689px;
	height: 151px;
	left: 1161px;
	top: 734px;
	background: #C4C4C4;
}
#addWorkerName{
	/*CSS For Name Box For Add Worker*/
	position: absolute;
	width: 597px;
	height: 153px;
	left: 661px;
	top: 337px;
	background: #FFFFFF;
}
#addWorkerID{
	/*CSS For ID Box For Add Worker*/
	position: absolute;
	width: 597px;
	height: 153px;
	left: 661px;
	top: 748px;
	background: #FFFFFF;
}
#addEquipName{
	/*CSS For Equipment Name Box For Add Equipment*/
	position: absolute;
	width: 597px;
	height: 153px;
	left: 661px;
	top: 313px;
	background: #FFFFFF;
}
#addEquipID{
	/*CSS For Equipment ID Box*/
	position: absolute;
	width: 597px;
	height: 153px;
	left: 661px;
	top: 724px;
	background: #FFFFFF;
}
header{
	/*CSS For Header*/
	position: absolute;
	width: 1920px;
	height: 118px;
	left: 0px;
	top: 0px;
	background: #C4C4C4;
}
#workerIDtext{
	/*CSS For ID Input for Worker To
	Insert their ID*/
	position: absolute;
	width: 539px;
	height: 101px;
	left: 690px;
	top: 372px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 64px;
	line-height: 75px;
	text-align: center;
	color: #C4C4C4;
}
#viewEquipNeedSanText{
	/*Text For View Equipment Needing Sanitized Button*/
	position: absolute;
	width: 676px;
	height: 152px;
	left: 622px;
	top: 282px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 61px;
	line-height: 71px;
	text-align: center;
	color: #582C83;
}
#labelDamagedText{
	/*CSS For Label Damaged Text In Worker*/
	position: absolute;
	width: 676px;
	height: 144px;
	left: 622px;
	top: 684px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 61px;
	line-height: 71px;
	display: flex;
	align-items: center;
	text-align: center;
	color: #582C83;
}
#listSanText{
	/*CSS For Sanitize Text In Worker*/
	position: absolute;
	width: 954px;
	height: 87px;
	left: 0px;
	top: 127px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 64px;
	line-height: 75px;
	text-align: center;
	color: #C4C4C4;
}
img
{
	/*CSS For Logo On All Pages*/
	position: absolute;
	width: 220px;
	height: 101px;
	left: 15px;
	top: 10px;
}